<div class="container-big">
    <div class="container">
        <div class="row">
            <div class="column column-1">
                <img class="logo" src="../../assets/logo.png" alt="">
                <p class="p-15">With Concorvis You will find your balance in life and family.</p>
                <div class="icons">
                    <button class="icon"><img src="../../assets/fb.png" alt=""></button>
                    <button class="icon"><img src="../../assets/instagram.png" alt=""></button>
                    <button class="icon"><img src="../../assets/yt.png" alt=""></button>
                    <button class="icon"><img src="../../assets/linkedin.png" alt=""></button>
                </div>
            </div>
            <div class="column column-2">
                <p class="p-bold">MENU</p>
                <p class="p-14">BAUFINANZIERUNG</p>
                <p class="p-14">KREDITE</p>
                <p class="p-14">IMMOBILIEN</p>
                <p class="p-14">ÜBER UNS</p>
                <p class="p-14">HÄUGIGE FRAGEN  </p>
                <p class="p-14">NEWS</p>
                <p class="p-14">KONTAKT</p>
            </div>
            <div class="column column-3">
                <p class="p-bold">LINKS</p>
                <p class="p-14">Haftungsausschuss</p>
                <p class="p-14">Datenschutz</p>
                <p class="p-14">Impressum</p>
                <p class="p-14">Kartiere</p>
               
            </div>
            <div class="column column-4">
                <p class="p-bold">CONTACT</p>
                <p class="p-bold">CONCORVIS</p>
                <p class="p-14">Heilbronnerstr.13 <br>
                    89537 Giengen</p>
                <p class="p-14">info@concorvis.de</p>
                <p class="p-14">+49 72 575 1466</p>
            </div>
        </div>

        <hr>
        <div class="copyright">
            <p class="p-15">Copyright © Concorvis - 2021. All RIghts Reserved.</p>
            <p class="p-created">Created by nova media.</p>
        </div>
    </div>
</div>
