<div class="container-big">
    <div class="container">
        <div class="services-images">
            <div class="services">
                <p class="p-blue-bold">BEST SERVICES</p>
                <h2>Choose which type of loan
                    you want to use</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. </p>
                <div class="icons">
                    <div >
                        <button><img src="../../assets/best-services-apartment.png" alt=""></button><p class="p-icon"> KREDITE FÜR UNTERNEHMEN </p>
                    </div>
                    <div >
                        <button><img src="../../assets/best-services-car.png" alt=""></button><p class="p-icon"> AUTOKREDIT</p>
                    </div>
                    <div >
                        <button><img src="../../assets/best-services-home.png" alt=""></button><p class="p-icon"> WOHNKREDIT</p>
                    </div>
                </div>
            </div>
            <div class="images">
                <img class="img-big" src="../../assets/best-services-handshake.PNG" alt="">
                <div class="img-card">
                    <img src="../../assets/best-services-small.PNG" alt="">
                    <div>
                        <p class="p-bold">1000+ loans completed
                            for property buy</p>
                    </div>
                    
                </div>
                <button><img src="../../assets/best-services-arrow.png" alt=""></button>
            </div>
        </div>
    </div>
</div>

