<div class="container-big">
    <div class="container">
        <div class="subtitle">
            <p class="p-blue center">EXPLORE OUR OFFER</p>
            <h2>Featured Real estate</h2>
        </div>
        
        <div class="row">
            <div class="column">
                <div><img src="../../assets/featured-1.PNG" alt=""></div>
                <div class="content">
                    <p>Property Test Name <span class="price">250.000 €</span></p>
                    <p>two rows</p>
                    <div class="icons">
                        <div>
                            <img class="icon" src="../../assets/features-bed.png" alt=""> <span class="icon-1">5</span>
                        </div>
                        <div>
                            <img class="icon" src="../../assets/features-bath.png" alt=""> <span class="icon-2">3</span>
                        </div>
                        <div>
                            <img class="icon" src="../../assets/features-square.png" alt=""> <span>254 m2</span>
                        </div>
                        
                    </div>
                    <div class="location">
                        <img src="../../assets/features-location.png" alt=""> <span>New York City</span>
                    </div>
                    <button class="btn-view">VIEW <img src="../../assets/features-arrow.png" alt=""></button>
                </div>
            </div>
            <div class="column">
                <div><img src="../../assets/featured-2.PNG" alt=""></div>
                <div class="content">
                    <p>Property Test Name <span class="price">250.000 €</span></p>
                    <p>two rows</p>
                    <div class="icons">
                        <div>
                            <img class="icon" src="../../assets/features-bed.png" alt=""> <span class="icon-1">5</span>
                        </div>
                        <div>
                            <img class="icon" src="../../assets/features-bath.png" alt=""> <span class="icon-2">3</span>
                        </div>
                        <div>
                            <img class="icon" src="../../assets/features-square.png" alt=""> <span>254 m2</span>
                        </div>
                        
                    </div>
                    <div class="location">
                        <img src="../../assets/features-location.png" alt=""> <span>New York City</span>
                    </div>
                    <button class="btn-view">VIEW <img src="../../assets/features-arrow.png" alt=""></button>
                </div>
            </div>
            <div class="column">
                <div><img src="../../assets/featured-3.PNG" alt=""></div>
                <div class="content">
                    <p>Property Test Name <span class="price">250.000 €</span></p>
                    <p>two rows</p>
                    <div class="icons">
                        <div>
                            <img class="icon" src="../../assets/features-bed.png" alt=""> <span class="icon-1">5</span>
                        </div>
                        <div>
                            <img class="icon" src="../../assets/features-bath.png" alt=""> <span class="icon-2">3</span>
                        </div>
                        <div>
                            <img class="icon" src="../../assets/features-square.png" alt=""> <span>254 m2</span>
                        </div>
                        
                    </div>
                    <div class="location">
                        <img src="../../assets/features-location.png" alt=""> <span>New York City</span>
                    </div>
                    <button class="btn-view">VIEW <img src="../../assets/features-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
          
    </div>
</div>
