<div class="container-big">
    <div class="container">
        <p class="p-blue">Find your place</p>
        <p class="p-15">485 properties on offer</p>

        <div class="subtitle">
            <p class="p-blue center">Everything For you</p>
            <h2>Everything at your fingertips.</h2>
        </div>

        <div class="services-gallery">
            <div class="services">
                
                <div class="checked">
                    <p class="p-bold">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                    <div >
                        <img src="../../assets/blue-checked-icon.png" alt=""><p class="p-checked"> KREDITE FÜR UNTERNEHMEN </p>
                    </div>
                    <div >
                        <img src="../../assets/blue-checked-icon.png" alt=""><p class="p-checked"> KREDITE FÜR UNTERNEHMEN </p>
                    </div>
                    <div >
                        <img src="../../assets/blue-checked-icon.png" alt=""><p class="p-checked"> KREDITE FÜR UNTERNEHMEN </p>
                    </div>

                    <div>
                        <button class="button-full">KREDITE</button> 
                     <button class="button-white">IMMOBILIEN</button>
                    </div>
                    
                </div>

                
                
            </div>
            <div class="gallery">
                <div class="img-container">
                    
                        <img class="img-top" src="../../assets/gallery-1.PNG" alt="">
                        <img  src="../../assets/gallery-2.PNG" alt="">
                </div>
                <div class="img-container middle">
                    <img src="../../assets/gallery-3.PNG" alt="">
                </div>
                <div class="img-container">
                    <img class="img-top" src="../../assets/gallery-4.PNG" alt="">
                    <img src="../../assets/gallery-5.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
    
</div>






