<div class="container-big">
    <div class="container">
        <div class="subtitle">
            <p class="p-blue center">ACTUAL NEWS</p>
            <h2>Check out our latest News</h2>
        </div>
        
        <div class="row">
            <div class="column">
                <div><img src="../../assets/news-1.PNG" alt=""></div>
                <div class="content">
                    <p class="p-bold">Second News about real estate i
                        two rows Example title
                    </p>
                    <div class="date-time">
                        <p class="p-blue">26.08.2021.  |  21:43 h</p>
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna...</p>
                    
                </div>
            </div>
            <div class="column">
                <div><img src="../../assets/news-2.PNG" alt=""></div>
                <div class="content">
                    <p class="p-bold">Second News about real estate i
                        two rows Example title
                    </p>
                    <div class="date-time">
                       <p class="p-blue">26.08.2021.  |  21:43 h</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna...</p>
                </div>
            </div>
            <div class="column">
                <div><img src="../../assets/news-3.PNG" alt=""></div>
                <div class="content">
                    <p class="p-bold">Second News about real estate i
                        two rows Example title
                    </p>
                    <div class="date-time">
                        <p class="p-blue">26.08.2021.  |  21:43 h</p>
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna...</p>
                </div>
            </div>
        </div>
          
    </div>
</div>
