<div class="container-big">
    <div class="map">
        <img src="../../assets/contact-map.png" alt="">
        <div class="address">
            <div>
                <p class="p-bold">CONCORVIS</p>
                <p>Heilbronnerstr.13
                    89537 Giengen</p>
                <p class="p-blue">info@concorvis.de</p>
            </div>
            
            <img src="../../assets/contact-img-small.PNG" alt="">
        </div>
        <img class="location" src="../../assets/contact-location.png" alt="">
        <div class="inputs">
            <div>
                <label for="">YOUR NAME</label>
                <input type="text" placeholder="Enter Your Name and surname">
            </div>
            <div>
                <label for="">YOUR E-MAIL</label>
                <input type="text" placeholder="Enter Your E-mail address">
            </div>
            <div>
                <label for="">SUBJECT</label>
                <input type="text" placeholder="Enter Subject for message">
            </div>
            <div class="message">
                <label for="">YOUR MESSAGE</label>
                <input type="text" placeholder="Your message">
            </div>
            
        </div>
    </div>
    <div class="container">

    </div>
</div>
