<header>
    <button class="toggleNav" (click)="toggleNav()">
        <img src="../../assets/nav-arrow.png" alt="">
    </button>


    <div class="logo">
        <img src="../../assets/logo.png" alt="">
    </div>
    <nav id="nav" class="active">
        <ul>
            <li>
                <a href="">Bauen und Kaufen</a> <img src="../../assets/nav-arrow.png" alt="">
            </li>
            <li>
                <a href="">Ratenkredite</a> <img src="../../assets/nav-arrow.png" alt="">
            </li>
            <li>
                <a href="">Unternehmensfinanzierungen</a> <img src="../../assets/nav-arrow.png" alt="">
            </li>
            <li>
                <a href="">Immobilien</a>
            </li>
            <li>
                <a href="">ÜBER UNS</a>
            </li>
            <li>
                <a href="">HÄUGIGE FRAGEN</a>
            </li>
            <li>
                <a href="">NEWS</a>
            </li>
            <button class="button-white">KONTAKT</button>
        </ul>
        <!-- <button>KONTAKT</button> -->
    </nav>
    <div class="icons">
        <p>ENG</p>
        <img src="../../assets/nav-arrow.png" alt="">
        <img src="../../assets/search.png" alt="">
        <img src="../../assets/fb.png" alt="">
        <img src="../../assets/instagram.png" alt="">
        <img src="../../assets/yt.png" alt="">
        <img src="../../assets/linkedin.png" alt="">
        
    </div>
</header>
