.container-big {
    h1 {
        // font-family: 'Open Sans', sans-serif;
        // line-height: 40px;
        // display: inline-block;
        // position: relative;
        max-width: 513px;
        // left: 400px;
        margin-top: 122px;
        margin-bottom: 34px;
        padding: 0;
    }
    
    .img {
         position: absolute;
         z-index: 2;

         
         @media screen and (max-width: 1000px) {
             display: none;
         }
        img {
            // object-fit: cover;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 818px;    
            height: 948px;
            width: 1582px;
            @media screen and (max-width: 1450px) {
                left: 700px;
            }
            @media screen and (max-width: 1450px) {
                left: 600px;
            }
            
        }

    }
    .container {
        position: relative;
        z-index: 3;
        padding-bottom: 84px;

        @media screen and (max-width: 1000px) {
            background-image: url(../../assets/home-pool.png);
            background-size: cover;
        }
        .button-full.login {
            position: absolute;
            right: 15px;
            top: 30px;

            // @media screen and (max-width: 1290px) {
            //     right: 15px;
            // }
        }
        div {
            width: fit-content;

            @media screen and (max-width: 1000px) {
                background-color:  rgba(0, 0, 0, 0.575);
                padding: 0 10px 10px 10px;
                margin-left: -15px;
            }
            h1 {
                @media screen and (max-width: 1000px) {
                    color: white;
                }
            }
            p {
                max-width: 400px;
                margin-bottom: 36px;
                @media screen and (max-width: 1000px) {
                    color: white;
                }
            }
            .button-full {
                margin-right: 20px;
            }
            .button-white {
                @media screen and (max-width: 1000px) {
                    border: 3px solid white;
                }
            }
        }
    }
}


.filter-container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
.filter {
    
    position: absolute;
    width: 730px;
    height: 100px;
    top: 0;
    left: 0;
    margin-top: 95px;
    background-color: white;
    z-index: 50;
    padding-left: 31px;
    padding-right: 20px;

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 450px;
        left: 50%;
        transform: translate(-50%);
    }
    .column {
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 20px;
        margin-right: 20px;
        div{
            margin-top: 20px;
            p {
                display: inline;
                margin-right: 58px;
            }
        }
        
    }
    button {
        float: right;
        margin-top: 20px;
        width: 60px;
        height: 60px;
        background-color: #33A7E2;
        
    }
}
}