<div class="container-big">
   
    <div class="img">

        <img src="../../assets/home-pool.png" alt="">
    </div>
    
    <div class="container">
        <button class="button-full login"><img style="margin-right: 10px;" src="../../assets/login-register.png" alt="">LOGIN/REGISTER</button>
        <div>
            <h1>
                With Concorvis You
                will find your balance
                in life and family.
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. 
            </p>
            <button class="button-full">APPLY FOR CREDIT</button> 
            <button class="button-white">KONTAKT</button>
        </div>
        
    </div>
    
</div>

<div class="filter-container">
    <div class="filter">
        <div class="column">
            <p class="p-15">Location</p>
            <div>
                <p>New York City</p>
                <img src="../../assets/nav-arrow.png" alt="">
            </div>
        </div>
        <div class="column">
            <p class="p-15">Location</p>
            <div>
                <p>New York City</p>
                <img src="../../assets/nav-arrow.png" alt="">
            </div>
        </div>
        <div class="column">
            <p class="p-15">Location</p>
            <div>
                <p>New York City</p>
                <img src="../../assets/nav-arrow.png" alt="">
            </div>
        </div>
        <button>
            <img src="../../assets/search.png" alt="">
        </button>
    </div>
</div>